body{
    margin: 0px;
    padding: 0px;
    background-color:  #EEF2F6 ;
    font-family: 'Poppins,Arial,sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav{
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: large;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap:20px;
}

nav ul li:hover{
    color: aqua;
    cursor: pointer;
}


video{
    margin: 50px;
}

.blog-card{
    min-width: 128px;
    max-width: 256px;
    min-height: 128px;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: rgb(255,250,250);
    margin: 50px;
}
.card-img img{
    height: 100%;
    width: 100%;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
}
.card-content{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 0px;
}

.card-body h2{
    font-size: 12px;
    text-transform: uppercase;    
}
.card-body h1{
    font-size: 21px;
    margin-bottom: 24px;
}

.card-body p{
    opacity: 60%;
    font-size: 14.4px;
}

.card-footer{
    font-size: 12.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer p a{
    text-decoration-line: none;
}

.profile-card{
    width: 360;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1) ;
    padding: 30px;
    text-align: center;
}

.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #0078ff;
    object-fit: cover;
    margin-bottom: 15px;
}

h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222;
}
.role{
    font-weight: 500;
    color:#555;
    margin-bottom: 15px;
}